body {
  font-family:Microsoft JhengHei;
}

.badge-revision {
  position: absolute;
    top: 0px;
    font-size: 10px;
    left: 25px;
}

.badge-size {
  font-weight:800;
}

.badge-box {
  right: 5px;
}

.shadow{
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}