@import "~bootstrap/scss/functions";
@import "./helpers/_variables";
@import "~bootstrap/scss/bootstrap";

@import "./_dashboard";
@import "./_badge";
@import "./header";
@import "./_img";
@import "./_contant";
@import "./footer";
@import "./login";
@import "./loading";
@import "./shoptitle";
@import "./product";
@import "./custormerorder";


  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }

  button {
    outline: none !important;
    outline: 0 !important;
  }

  ul {
    padding-inline-start: 0px;
  }

  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
   }



