#loading {
    position: fixed;
    z-index: 400;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    text-align: center;
    font-size: 0.9rem;
    color: #595758;
    background-color: white;
    opacity: 0.9;
    display: none;
}